.title {
    margin: 210px;
    padding: 0;
    text-align: center;
    font-size: 60px;
    color: #141b25;
    font-family: 'Open Sans', sans-serif;
}

.contactTitle {
    margin-top:50px;
    text-align: center;
    color: #141b25;
}

p {
    text-align: center;
    color: #141b25;
    font-family: 'Open Sans', sans-serif;
}

.error {
    text-align: center;
}